.caixa {
    background: white;
    width: 400px;
    height: 300px;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.caixa h1{
    font-size: 30px
    
}

.formulario {
    display: flex;
    flex-direction: column;
width: 200px;


}

.formulario button{
    margin-top: 10px;
    background: rgb(233, 48, 48);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}

.formulario input{
    padding: 10px 15px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 10px;
}

.header ul #aqui{
    font-weight: 1000;
    color: #32b9cd;
}
a {
    color: #e3b062;
    text-decoration: none;
}